:root {
  --primary-color: #2F2A6A;
  --text-color: #ffffff;
  --background-color: #f4f4f4;
  --accent-color: #000000;
  --image-background: #D9D9EC;
}

h1.first {
  color: var(--primary-color);
  padding-left: 15px;
}

footer {
  min-height: 80px;
  padding: 1rem 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
}

footer p {
  margin: 0.25rem 0;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

footer p span {
  display: inline-block;
  min-width: 8ch;
  min-height: 1em;
}
