:root {
    --primary-color: #554D8C;
    --secondary-color: #ffffff;
    --text-color: #ffffff;
    --background-color: #f4f4f4;
    --accent-color: #555555;
    --image-background: #BDBDD3;
}

* {
    box-sizing: border-box;
}

.birth-info {
    color: var(--accent-color);
    margin: 5px 0;
    font-weight: bold;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 20px;
    border: transparent;
    box-shadow: 0 0 30px black;
    margin: 20px;
    margin-top: 0.5px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background: var(--image-background);
    border: 2px solid var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 1 1 calc(100% - 20px);
    margin: 10px;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--primary-color);
}

img {
    width: 100%;
    max-width: 150px;
    height: auto;
    box-shadow: 0 0 20px black;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    bottom: 0;
    width: 100%;
}
